{% extends 'base.html'%}
{% block title %}
about

{% endblock %}

{% block content %}
{% load static %}
<div>

<h1 class="container bg-warning text-center">ABOUT US</h1>
<hr>
<p>city hospital is a 200 bedded multi super specialty hospital run by a charitable trust and located in the heart of capital city kerala surrounded with greenery not only outside but also in the vast courtyard of the hospital and roof-top and spread over built-up-area of about one lac sq. ft. in a three storied building.

    city hospital was inaugurated in 1955.The hospital provides treatment to patient coming from lower Socio-Economic Strata.
    
    city hospital was perhaps one of the two or three hospitals of that size in the private charitable sector in Northern India. It soon became a landmark in the health care delivery scenario of kerala with people , a famous surgeon from Lahore and Col. Ameer Chand, an eminent figure of medicine in north India together the famed Eye surgeon of Punjab.
    
    The Idea of constituting a charitable trust to run a hospital was envisaged for the first time in 1949 just after the partition of the country. At this juncture the city of kerala had just started to grow and was in the theories of multi dimensional expansion. A charitable trust was created by a famous industrial family, initiated by Lala Ishwer Das Sawhney. He  was head of the family at that time to commemorate the memory.
    
    Just within a year in 1956 due to the nationalization of the insurance sector newly formed Life Insurance Corporation of India acquired all the assets . Since the hospital had already started functioning, the trustees requested and persuaded Life Insurance Corporation of India to allow the trust to continue the running hospital on lease. So overnight landlord became a tenant but the hospital continues to function till date in this rented building over the last 65 years.
    
    The hospital continue to flourish and serve the poorer section of the society as well as to the rich and famous people of the kerala and Northern India . Whatever money the hospital made by private room admissions was pledge back to cover the expenses of nearly the 25 % of the patient who couldn’t afford medical care.
    
    During the period of 1980’s to 1990’s, the rapid advancement in the field of medical technology and changing pace of available medical facilities the hospital gradually came to the brink of being named as an old dilapidated burnt out hospital on the verge of the closure during the last decade of the century.
    
    Over the last 10 years or so, since Mr. Dhruv M Sawhney took over as chairman of the trust board and there has been a sort of emotional resurgence during this period. Financial aid from Triveni Engineering Industry has meant that the hospital is not only being refurnished and refurbished but also re-equipped with modern equipment.
    
    Whole of this exercise involved a number of permission, licenses, certificates, evidences and documents which all had to be updated. Following all this there were a series of assessment and reassessment by high power team of experts nominated by quality council of India.
    
    Considering immense clinical material and opportunity for teaching and training of young doctors, the hospital has recognized and accredited for DNB Program in Pediatric and Obstetrics and Gynecology by the National Board of Examination, Government of India.
    
    Nearly 100 % of results are the testimony to our commitment towards training and teaching of young doctors. We keenly looking forward for recognition of a few more disciplines for DNB program by the National Board to boost the national aim of increasing the pool of qualified specialist of various fields.
    
    This is amongst a very few institutions to have recognized the importance of clean environment at the very early stage when the whole concept was in a very nascent stage and have thus implemented.
    
     
    
    A very efficient functioning certified effluent treatment plant Post Treatment of the entire hospital effluent, the residual solid material is used as manure as liquid for watering of the green areas.
    Considering the importance of water preservation, the hospital has a functioning rain water harvesting system where in the entire roof top surface is covered.
    city hospital is one of the very few hospitals specially in the heart of city which has so much greenery not only outside but also in the vast courtyard of the hospital and roof-top.
    The Trust has provided extensive fire fighting facility with smoke detection system, fire alarm, rapid evacuation, huge water tank and water sprinklers etc.</p>
</div>
{% endblock %}