{% extends 'base.html'%}
{% block title %}
contact

{% endblock %}

{% block content %}
<h1 class="container bg-warning text-center">CONTACT US</h1>
<hr>
<h1>EMERGECY NUMBER:1234567</h1>
<div class="container w-50 text-center p-3 my-5 bg-warning">
    <h2>Managing director : sreejith r nair</h2>
    <h2>mobile number     : 12345678</h2>
    <h2>email             : 123@gmail.com</h2>     
    <h2>address           : city hospital,kerala</h2>
</div>
<div class="container w-50 text-center p-3 my-5 bg-warning">
    <h2>CEO : sanoj</h2>
    <h2>mobile number     : 123456789</h2>
    <h2>email             : 1234@gmail.com</h2>     
    <h2>address           : city hospital,kerala</h2>
    
</div>    

{% endblock %}